[Unit]
Description=Spigot, A Unix Socket HTTP Server

[Service]
ExecStart=%h/.cargo/bin/spigot
Restart=always
Type=simple

[Install]
WantedBy=default.target